<html>
<head>
<title>{% block title %}Home{% endblock %} - {{ conf.brand }}</title>
<link rel="stylesheet" type="text/css" href="/style/global.css" />
<link rel="stylesheet" type="text/css" href="/style/billboard.css" />
<link rel="stylesheet" type="text/css" href="/style/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/css/widgets.css" />
<link rel="stylesheet" media="print" type="text/css" href="/style/print.css" />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/getElementsBySelector.js"></script>
<script type="text/javascript" src="/media/js/actions.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>

<style type="text/css">
</style>
</head>
<body>
<div id="header">
{% block header %}
    <h1>{{ conf.brand }} # {{ conf.service_num }}</h1>
    <p class="tagline">{{ conf.tagline }}</p>
    <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/history">Accounts Details</a></li>
    <li><a href="/zones">List of Boards</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/database">DB Backup</a></li>
    <li><a href="/admin">Admin</a></li>
    </ul>
{% endblock %}
</div>
<div id="content">
{% block content %}
<p>You are most welcome!</p>
{% endblock %}
</div>
<div id="footer">
{% block footer %}
{% endblock %}
</div>
</html>
