{% extends "body.html" %}

{% block title %}Help{% endblock %}

{% block content %}
<h2>How it works?</h2>
<p>{{ conf.brand }} is a Network of Billboard managers.</p>
<p>Every manager is registered (via his mobile number) on a remote system accessible via SMS</p>

<h2>How to be part of the Network ?</h2>
<p>To be part of the Baroni Network, please text <strong>{{ conf.service_num }}</strong></p>

<ul>
<li>new @name [+c] Actual Text</li>
<li>stop</li>
<li>stop @name</li>
<li>join</li>
<li>join @name</li>
<li>moneyup @name amount</li>
<li>register alias, mobile, zonecode[, credit, rating, membership]</li>
<li>topup voucher</li>
<li>help</li>
</ul>

{% endblock %}

