{% extends "body.html" %}

{% block title %}{{ member.alias_display }} Account Details{% endblock %}

{% block content %}
<form action="{% url apps.billboard.views.history_one member.alias %}" method="POST">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<table>
<tr><th>Date</th><th>Source</th><th>Action</th><th>Target</th><th>Cost ({{conf.currency}})</th><th>SMS Text</th></tr>
{% for a in actions %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ a.date|date:"D d M H:i" }}</td><td>{{ a.source.alias_display }}</td><td>{{ a.kind }}</td><td>{{ a.targets }}</td><td class="center">{{ a.cost }}</td><td>{{ a.text|truncatewords:"10" }}</td>
</tr>
{% endfor %}
<tr><td colspan="3" class="total">TOTAL</td><td class="center"><strong>{{ total }}</strong></td><td colspan="2"></td></tr>
<tr><td colspan="3" class="total">CURRENT BALANCE</td><td class="center"><strong>{{ member.credit }}</strong></td><td colspan="2"></td></tr>
</table>

{% endblock %}

